:root {
  line-height: 1;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #000000de;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:lang(th) {
  font-family: "IBM Plex Sans Thai", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:lang(en) {
  font-family: "Noto Sans Thai Looped", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

