.btn,.btn1{
  display: flex;                
  align-items: center;          
  justify-content: center;  
  text-align: center;
  
  font-weight:bold;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn {
  background-color: #ffa467;
  color: white;
  border: none;
}
.btn1 {
  background-color: #fff;
  color: #ffa467;
  border: 2px solid #ff8a2b;
}

.btn:hover {
  background-color: #ff8a2b;
}

.filter .btn1 {
  border-radius: 10px;
  height: 5vh;
}

.foodBtn{
  background-color: #FFA467;
  height: 60px;
  width: 80%;
  border-radius: 80px;
  border-color: #FFA467;
  font-size: 20px;
  margin-bottom: 20px;
}

.foodBtn:hover {
  background-color: #FFA467;
}




.btn1:hover {
  color: #fff;
  background-color: #ff8a2b;
}