.btn {
  background-color: #ffa467;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ff8a2b;
}

.foodBtn{
  background-color: #FFA467;
  height: 60px;
  width: 80%;
  border-radius: 80px;
  border-color: #FFA467;
  font-size: 20px;
  margin-bottom: 20px;
}

.foodBtn:hover {
  background-color: #ff8a2b;
}