.navHomePage {
  background-color: #ffa360;
  height: 1%;
  direction: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.nav img {
  height: 10vh;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 50%;
  gap: 10%;
}

.navMenu h1 {
  font-size: 20px;
  font-weight:500;
  margin: 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navMenu h1:hover {
  color: white;
}