.navHomePage {
  background-color: #ffa360;
  height: 60px;
  direction: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.nav img {
  height: 8vh;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 30%;
  gap: 10%;
}

.fontcolor{
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2;
  transition: transform 0.2s ease, color 0.2s ease;
}

.fontcolor:hover{
  color: black;
  transform: scale(1.1);
}

.dropdownmain {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  font-weight:bold;
  gap: 10px;
  border-radius: 8px;
  transition: 0.5s;
  cursor: pointer;
}


.dropdownSelect {
  position: absolute;
  right: 0;
  background: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  top:0;
  transition: all 0.3s ease-out;
  
}

.dropdownProfile {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  cursor: pointer;
  height: 100%;
  /* background-color: #fbfbfb; */
}

.dropdownchoice{
  padding:15px;
}

.icon {
  transition: 0.5s;
  /* stroke-width: 20px */
}

.icon:hover {
  transition: 0.5s;
  filter: drop-shadow(0 0 5px #ffffff); /* แสงสีฟ้าเรือง */
}

