.navHomePage {
  background-color: #ffa360;
  height: 1%;
  direction: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.nav img {
  height: 8vh;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 30%;
  gap: 10%;
}

.fontcolor{
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2;
  transition: transform 0.2s ease, color 0.2s ease;
}

.fontcolor:hover{
  color: black;
  transform: scale(1.1);
}