
.navVertical {
  background-color: rgba(252, 234, 222, 0.5);
  width: 15%;
  min-width: 200px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navHorizon {
  width: 85%;
  display: flex;
  flex-direction: column;
}
.navHorizon .search {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  align-self: center;
 background-color: #ffe3d0;
}
.search h1 {
  font-size: 30px;
  padding-left: 10%;
}
.search input {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f2f2f2;
  width: 50%;
  height: 40px;
  padding-left: 20px;
  border: 1px solid #f2f2f2;
  outline: none;
  box-sizing: border-box;
  margin-left: 20px;
}
.search button {
  height: 40px;
  width: 5%;
  background-color: #fab588;
  color: white;
  border: 1px solid #fab588;
  border-left: none;
  border-radius: 0 15px 15px 0;
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.search i {
  font-size: 20px;
}

.search button:hover {
  background-color: #ffa360;
  transition: all 0.3s ease;
}

.navHorizon .filter {
  width: 100%;
  padding: 20px;
}

.mainLayout {
  display: flex;
  width: 100%;
  height: 92vh;
}



.navHorizon .shop {
  width: 100%;
  height: 100%; 
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  box-sizing: border-box;
  scrollbar-width: none;
}

.shop .card-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;
}

.card-grid .position {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  /* padding: 20px; */
}

.card-grid .position2 {
  display: flex;
  flex-direction: row;
  gap: 100px;
  /* padding: 20px; */
}

.card-grid .card {
  flex-direction: row;
  background-color: #F2F2F2;
  border: 1px solid #eee;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  padding: 14px;
  gap: 5px;
  height: auto;
  width: 80%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card .image {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  background-color: red;
}
.SP_btn {
  appearance: none;
  border: none;
  background: #111827;
  color: #fff;
  font-weight: 600;
  padding: 10px 14px;
  border-radius: 12px;
  cursor: pointer;
  transition: filter .15s ease, transform .02s ease;
}
.SP_btn:hover { filter: brightness(1.05); }
.SP_btn:active { transform: translateY(1px); }
.SP_btn:disabled { opacity: .5; cursor: not-allowed; }


.SP_btn-secondary {
  background: #fff;
}
.SP_btn-secondary:hover { background: #f9fafb; }


.SP_btn-outline {
  background: #fff;
}
.SP_btn-outline:hover { background: #f9fafb; }