.container {
  flex-direction: column;
  flex: auto;
  height: 100vh;
  margin: 0;
}


.columnset{
  display: flex;
  flex-direction: column;
}

.rowset{
  display: flex;
  flex-direction: row;
}

.setcenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.setcenterNF{
  display: flex;
  justify-content: center;
}

.box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #FCEADE;
    border-radius: 30px;
    padding: 40px;
}
