.fade-slideDown {
  animation: slideDownFade 0.3s ease forwards;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}