.bg-image1 {
    background: linear-gradient(rgba(68, 43, 34, 0.7)), url("https://www.unileverfoodsolutions.co.th/dam/global-ufs/mcos/SEA/calcmenu/recipes/TH-recipes/salads/%E0%B8%AA%E0%B9%89%E0%B8%A1%E0%B8%95%E0%B8%B3%E0%B9%84%E0%B8%97%E0%B8%A2/%E0%B8%AA%E0%B9%89%E0%B8%A1%E0%B8%95%E0%B8%B3%E0%B9%84%E0%B8%97%E0%B8%A2_header.jpg");
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
}

.bg-image2 {
    background: linear-gradient(rgba(124, 62, 38, 0.5)), url("https://i.ibb.co/TMGd5j0C/ThaiFood.png");
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
}

